.navigator-container {
  width: 220px;
    display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: rgb(133, 86, 107);
  color: rgba(233, 233, 233, 0.7);
  font-size: 18px;
}

.navigator-container p {
  color: rgba(253, 253, 253, 0.8);
  font-size: 25px;
}
