.logo-container {
  display: flex;
  height: 50px;
  color: rgba(105, 155, 84, 0.8);
  font-size: 30px;
  font-family: 'Lobster', cursive;
  padding-left: 35px;
}

.logo-icon {
  margin-right: 5px;
}
